# Python
__pycache__/
*.py[cod]
*$py.class

# Poetry
.poetry/
.venv/
poetry.lock

# Jupyter Notebooks
*.ipynb
notebooks/

# Test and coverage
.coverage
htmlcov/
.tox/
.pytest_cache/
tests/

# Misc
.DS_Store
*.log
*.tmp
.cache/
.env
*.db
*.sqlite3
*.egg-info/
.eggs/

# Large files
*.csv
*.csv.* 